DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DEBUG=1
POSTGRES_DB=numk_rsms
POSTGRES_USER=numk_rsms
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
TIME_ZONE=Africa/Lagos
